<!doctype html>
<html>
<head>
	<title>SC2 Game Tracker</title>
	<link rel="stylesheet" href="/css/game-player-bldunit-style.css">
</head>
<body>
	{{{body}}}
	<script src="/scripts/navButtons.js"></script>
	<script src="/scripts/gamePlayerBldUnitList.js"></script>
</body>
</html>