<h1>StarCraft 2 Game Tracker</h1>
<button type="button" id="game-button">Games</button>
<button type="button" id="map-button">Maps</button>
<button type="button" id="player-button">Players</button>
<button type="button" id="building-button">Buildings</button>
<button type="button" id="unit-button">Units</button>
{{#if warningSql}}
	<h3 id="warningSql">SQL Error: {{warningSql}}</h3>
{{/if}}
<h2>Player List (Add)</h2>
<form method="post" action="/players">
	<fieldset>
		<table>
			<thead>
				<th>Player Name</th>
				<th># Wins</th>
				<th># Losses</th>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="name" id="newName"></td>		
					<td><input type="text" name="wins" id="newWins"></td>		
					<td><input type="text" name="losses" id="newLosses"></td>		
				</tr>
			</tbody>
		</table>
		<div id="spacer"></div>
		<input type="submit" name="Add Item" value="Add Player" id="AddButton">
	</fieldset>
</form>
				
